<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Currency Converter</title>
    <style>
      * {
        text-align: center;
        font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>
        <b>Currency Converter</b>
      </h3>
      <form id="form" style="margin-top: 20px;">
        <input
          list="basecurrency"
          name="basecurrency"
          placeholder="Enter Base Currency"
          id="from"
        />
        <datalist id="basecurrency">
          {% for item in countries['symbols'].items() %}
          <option value="{{ item[0] }}">{{ item[1] }}</option>
          {% endfor %}</datalist
        ><br /><br />
        <input
          list="tocurrency"
          name="tocurrency"
          placeholder="Enter To Currency"
          id="to"
        />
        <datalist id="tocurrency">
          {% for item in countries['symbols'].items() %}
          <option value="{{ item[0] }}">{{ item[1] }}</option>
          {% endfor %}</datalist
        ><br /><br />
        <input type="submit" />
      </form>
      <br />
      <div id="result" style="font-weight: bold; color: green;"></div>
    </div>
  </body>
</html>
